@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}



<head>
    <link rel="stylesheet" href="~/css/landpage.css" type="text/css" />
</head>


<div class="main_container">
    <div class="main_card">
        <div class="content">
            <div class="leading">
                <partial name="~/Views/Modules/partial-logo-nameonly-vector.cshtml" />
                <div class="logo"><img class="logo" src="https://github.com/WarmMateTea/ImageRepo/blob/main/techagro_icon_logo.png?raw=true"></img></div>

                <div class="heading">
                    <span>Portal de Cadastro</span>
                </div>
                <div class="detail">
                    <span>Crie seu cadastro ou entre com uma conta existente</span>
                </div>
            </div>
        </div>

        <div class="actions">
            <partial name="~/Views/Modules/partial_common_button.cshtml"
                     model='new hackaton.Models.ViewModels.VM_button { Class="btn btn-secondary btn-override secondary-color-override", Action="Login", Text="Login" }' />

            <partial name="~/Views/Modules/partial_common_button.cshtml"
                     model='new hackaton.Models.ViewModels.VM_button { Class="btn btn-primary btn-override primary-color-override", Action="Register", Text="Criar Perfil" }' />


        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>