
@{
    ViewData["Title"] = "PermissionDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PermissionDenied</h1>

<h2>Ops, parece que não tem permissão para executar esta ação</h2>

<a asp-action="Index" asp-controller="Home">Voltar</a>
