@model hackaton.Models.User
@using VM = hackaton.Models.ViewModels

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

@*Header*@
<partial name="~/Views/Modules/partial_header.cshtml" model='new VM.VM_header { HeaderVariation=VM.VM_header.Variations.Login}' />

<div class="main_container">

    <div class="main_card signup">

        <div class="content">
            <form asp-action="Register" style="min-width:100%">
            @Html.AntiForgeryToken()
            <div class="leading-generic">
                <partial name="~/Views/Modules/partial-logo-nameonly-vector.cshtml" />
                <div class="heading">
                    <span>Crie sua conta</span>
                </div>
                <div class="detail">
                    <span>Comece a desfrutar de nossos serviços!</span>
                </div>
            </div>
            <div class="trailing">
                <div class="inputs">

                    <div asp-validation-summary="ModelOnly" class="detail text-danger-override"></div>

                    <partial name="~/Views/Modules/partial_textbox_name.cshtml" model='new VM.VM_textbox { User = Model}' />

                    <partial name="~/Views/Modules/partial_textbox_cpf.cshtml" model='new VM.VM_textbox { User = Model}' />

                    <partial name="~/Views/Modules/partial_textbox_password.cshtml" model='new VM.VM_textbox {User = Model}' />


                        @*                    <div class="form-group" style="min-width:100%">    <!--PRECISA AJEITAR ISSO PRA BATER COM A OUTRA SENHA-->
                        <label class="input-description">Confirmar Senha</label>
                        <div class="input env" data-cluster="btn1">
                            <div class="sub">
                                <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/vpn_key_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
                                <input class="textbox" data-cluster="btn1" type="password" placeholder="●●●●●●" name="confirmPassword" @Validation.For("confirmPassword")/>
                            </div>
                            <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/visibility_off_FILL0_wght400_GRAD0_opsz48.svg" class="icon eye hide"></img>
                        </div>
                        <span asp-validation-for="" class="detail text-danger-override"></span>
                    </div*@

                    <div class="actions">
                        <div class="form-group" style="min-width:100%">
                            <partial name="~/Views/Modules/partial_submit_button.cshtml"
                                         model='new hackaton.Models.ViewModels.VM_button { Class="btn btn-primary btn-override primary-color-override", Value="Registrar"}' />
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="/js/module-textbox-focus.js"></script>
<script src="/js/module-password-eye-visibility.js"></script>
<script src="/js/module-cpf-verification.js"></script>
<script src="/js/module-home-hover.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
