@model hackaton.Models.User
@using VM = hackaton.Models.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

@*Header*@
<partial name="~/Views/Modules/partial_header.cshtml" model='new VM.VM_header { HeaderVariation=VM.VM_header.Variations.Logout}' />


<div class="main_container">

    <div class="main_card signup">

        <div class="content">
            <form asp-action="Edit" asp-controller="Users" method="post">
                <div class="leading-generic">
                    <partial name="~/Views/Modules/partial-logo-nameonly-vector.cshtml" />
                    <div class="heading">
                        <span>Perfil de Produtor (Visão Administrador)</span>
                    </div>
                    <div class="detail">
                        <span>Visualize seus dados pessoais</span>
                    </div>
                </div>
                
                <div class="trailing">
                    <div class="inputs">

                        
                        <partial name="~/Views/Modules/partial_textbox_name_edit.cshtml" model='new VM.VM_textbox { User = Model }' />

                        <partial name="~/Views/Modules/partial_textbox_password_edit.cshtml" model='new VM.VM_textbox { User = Model }' />

                        <partial name="~/Views/Modules/partial_textbox_cpf.cshtml" model='new VM.VM_textbox { User = Model }' />

                        <input class="form-control textbox" data-cluster="btn1" asp-for="Id" hidden>
                         
                        @Html.HiddenFor(m => m.Id)
                    </div>

                    <div class="actions">
                        
                            <button type="submit" class="btn btn-primary btn-override primary-color-override">
                                Salvar Alterações
                            </button>
                        
                        @*<input asp-controller="Users" asp-action="Edit" class="btn btn-primary btn-override primary-color-override" type="submit" value="Salvar Alterações">*@
                        <a href="@Url.Action("Delete","Client", new { id = Model.Id })" class="btn btn-danger btn-override danger-color-override">
                            <label>Excluir Perfil</label>
                        </a>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="/js/module-textbox-focus.js"></script>
<script src="/js/module-password-eye-visibility.js"></script>
<script src="/js/module-home-hover.js"></script>