@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* precisa puxar o colors_fallback.css e o colors.css em seguida */
@import url('COLORS_fallback.css');
@import url('COLORS.css');  /* deveria sofrer uma sobrescrita se possuir valores válidos */

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.text_primary {
    color: var(--text_primary);
}

.text_secondary {
    color: var(--color_primary);
}

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main_container {
    background-image: url(https://github.com/WarmMateTea/ImageRepo/blob/main/bg_pattern.png?raw=true);
    background-size: 8%;
    background-repeat: repeat;
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_card {
    padding: 20px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    padding: 24px;
    gap: 1em;
    isolation: isolate;
    width: fit-content;
    max-width: 75%;
    height: fit-content;
    background: var(--color_primary_inv);
    /* 🌞 Ring-1 [Light]/1px gray-200 | shadow-xl */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
}

.leading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    min-width: 100%;
    /* Inside auto layout */
    /*flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  z-index: 0;*/
}

.techagro {
    font-family: 'Reality Hyper';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: var(--text_primary);
    text-align: center;
    /* Inside auto layout */
    /* flex: none;
order: 0;
flex-grow: 0; */
}

.logo {
    max-width: 9em;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    min-width: 100%;
    /* Inter Medium/20 Text xl */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    /* System colors/Gray/900 */
    color: var(--text_primary);
} 

.detail {
    min-width: 100%;
    /* Inter Normal/14 Text sm */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8em;
    line-height:;
    text-align: center;
    color: var(--text_secondary);
}

.actions {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 100%;
    height: 100%;
}

.btn-override {
    border-radius: 8px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    border: 1px solid #00000000;
    width: 100%;
    /* font config */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.primary-color-override {
    background: var(--color_primary_inv);
    color: var(--color_primary);
    border-color: #ffa500;
    border-width: 2px;
    transition: 0.2s;
}

.primary-color-override:hover {
    background: var(--bg-color);
    color: var(--color_primary_hover);
    border-color: var(--color_primary_hover);
}

.secondary-color-override {
    background: var(--color_primary);
    color: var(--color_primary_inv);
    transition: 0.2s;
}

.secondary-color-override:hover {
    background: var(--color_secondary_hover);
}
