@model hackaton.Models.User
@using VM = hackaton.Models.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

@*Header*@
<partial name="~/Views/Modules/partial_header.cshtml" model='new VM.VM_header { HeaderVariation=VM.VM_header.Variations.Logout}' />


<div class="main_container">

    <div class="main_card signup">

        <div class="content">
            <form asp-action="Edit" asp-controller="Client" method="post" style="min-width:100%">
            <div class="leading-generic">
                <partial name="~/Views/Modules/partial-logo-nameonly-vector.cshtml" />
                <div class="heading">
                    <span>Perfil de Produtor</span>
                </div>
                <div class="detail">
                    <span>Visualize seus dados pessoais</span>
                </div>
            </div>
            <div class="trailing">
                <div class="inputs">

                    <partial name="~/Views/Modules/partial_textbox_name_edit.cshtml" model='new VM.VM_textbox { User = Model }' />

                    <partial name="~/Views/Modules/partial_textbox_password_edit.cshtml" model='new VM.VM_textbox { User = Model }' />

                    <partial name="~/Views/Modules/partial_textbox_cpf_readonly.cshtml" model='new VM.VM_textbox { User = Model }' />

                    <div class="form-group" style="min-width:100%">
                        <input type="hidden" class="form-control" name="CPF" value="@Model.CPF" asp-for="CPF"/>
                    </div>

                    <input class="form-control textbox" data-cluster="btn1" asp-for="Id" hidden>

                </div>
                 
                <input class="form-control textbox" data-cluster="btn1" asp-for="Id" hidden>

                <div class="actions">

                    <input asp-controller="Client" asp-action="Edit" type="submit" class="btn btn-primary btn-override primary-color-override" value="Salvar alterações">

                   <form asp-action="Delete" asp-controller="Client">
                     <input type="hidden" asp-for="Id" />
                     <input type="submit" value="Delete" class="btn btn-danger btn-override danger-color-override" />
                   </form>

                </div>

            </div>
            </form>
        </div>

    </div>
</div>

<!-- Modal de confirmação -->
<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tem certeza?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o usuário?</p>
            </div>
            <div class="modal-footer">
                <button id="fecharModal" type="button" class="btn btn-secondary btn-override" data-dismiss="modal">Fechar</button>
                <button id="confirmarExclusao" type="button" class="btn btn-danger btn-override danger-color-override">Excluir</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="/js/module-textbox-focus.js"></script>
<script src="/js/module-password-eye-visibility.js"></script>
<script src="/js/module-home-hover.js"></script>

<script>
    $(document).ready(function () {
        // Evento de clique no botão "Excluir"
        $('#DeleteClient').click(function () {
            $('#confirmModal').modal('show'); // Abre o modal de confirmação
        });

        // Evento de clique no botão "Excluir" do modal
        $('#confirmarExclusao').click(function () {
            var user = @Model; /* Obtenha o ID do usuário a partir do Model da página */;
            var userData = JSON.stringify(user);
            console.log(userData);

            // Chamada AJAX para o método DeleteClient
            $.ajax({
                url: '/ClientController/DeleteClient',
                type: 'POST',
                data: userData,
                contentType: 'application/json',
                success: function (response) {
                    // Lógica para tratar a resposta da exclusão, se necessário
                    //window.location.href = '/Client/Logout'; <- vou colocar o redirect direto no código em caso de sucesso, pra evitar tampering
                    //$('#confirmModal').modal('hide'); // Fecha o modal após a exclusão
                },
                error: function (xhr, status, error) {
                    console.log(error, status, xhr);
                }
            });
        });
    });
</script>