@model List<User>
@using VM = hackaton.Models.ViewModels

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

@*Header*@
<partial name="~/Views/Modules/partial_header.cshtml" model='new VM.VM_header { HeaderVariation = VM.VM_header.Variations.Logout }' />

<div class="main_container">
    
    <div class="main_card adm-search">
      
        <div class="content">
            <div class="leading-generic">

                <partial name="~/Views/Modules/partial-logo-nameonly-vector.cshtml" />

                <div class="heading">
                    <span>Exibição de produtores</span>
                </div>

            </div>

            <div class="trailing">

                <form asp-action="Search" asp-controller="Users">
                    <div class="input env" data-cluster="btn1">
                        <div class="sub form-group">
                            <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/search_FILL0_wght400_GRAD0_opsz48%20(2).svg" class="icon"></img>
                            <input class="textbox form-control" data-cluster="btn1" name="searchQuery" placeholder="Pesquisar..." />
                            <input class="btn btn-outline-primary btn-override primary-color-override" type="submit" value="Pesquisar"/>
                        </div>
                    </div>
                </form>

                @foreach(var user in Model)
                {
                    <partial name="~/Views/Modules/partial_card_produtor.cshtml" model="user"/>
                }
                @*<div id="listaPesquisadaContainer">
                    @await Html.PartialAsync("~/Views/Modules/partial_list_admin.cshtml")
                </div>*@
                
            </div>
        </div>
    </div>
</div>
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="/js/module-textbox-focus.js"></script>
<script src="/js/module-home-hover.js"></script>

@*<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var data = form.serialize();

            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function (result) {
                    $('#listaPesquisadaContainer').html(result);
                }
            });
        });
    });
</script>*@
