@model hackaton.Models.User
@using VM = hackaton.Models.ViewModels

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

@*Header*@
<partial name="~/Views/Modules/partial_header.cshtml" model='new VM.VM_header { HeaderVariation=VM.VM_header.Variations.Criar_Perfil}' />

<div class="main_container">

    <div class="main_card">
        <form asp-action="Login">
        <div class="content">
            <div class="leading-generic">
                <partial name="~/Views/Modules/partial-logo-nameonly-vector.cshtml"/>
                <div class="heading">
                    <span>Entrar na sua conta</span>
                </div>
                <div class="detail">
                    <span>Bem vindo de volta!</span>
                </div>
            </div>
            <div class="trailing">
                <div class="inputs">

                    <partial name="~/Views/Modules/partial_textbox_cpf.cshtml" model='new VM.VM_textbox { User = Model}'/>

                    <partial name="~/Views/Modules/partial_textbox_password.cshtml" model='new VM.VM_textbox {User = Model}' />

                </div>
@*                <div class="checkbox-w-text"> <!--NOTA! Isso ainda não está implementado.--!>
                    <input  class="form-check-input checkbox" type="checkbox">
                    <label  class="input-description">Lembrar de mim</label>
                </div>*@
            </div>

            <div class="actions">
                <div class="form-group" style="min-width:100%">
                    <partial name="~/Views/Modules/partial_submit_button.cshtml"
                                model='new hackaton.Models.ViewModels.VM_button { Class="btn btn-primary btn-override primary-color-override", Value="Login"}' />
                </div>
                <span class="detail">Não tem um cadastro? <a asp-action="Register" class="text_secondary">Cadastre-se</a></span>
                @*<span hidden class="detail">É um administrador? <a asp-action="" class="">Login para Administradores</a></span> <!--!NOTA! Ainda não implementado.--!>*@
            </div>

        </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

@*Diversão.*@
<script src="/js/module-textbox-focus.js"></script>
<script src="/js/module-password-eye-visibility.js"></script>
<script src="/js/module-cpf-verification.js"></script>
<script src="/js/module-home-hover.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
