@model hackaton.Models.User
@using VM = hackaton.Models.ViewModels

@{
    ViewData["Title"] = "SucessRegister";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

@*Header*@
<partial name="~/Views/Modules/partial_header.cshtml" model='new VM.VM_header { HeaderVariation=VM.VM_header.Variations.Logout}' />

<div class="main_container">

    <div class="main_card">
        <div class="leading-generic">
            <partial name="~/Views/Modules/partial-logo-nameonly-vector.cshtml" />
            <div class="heading">
                <span>Conta criada!</span>
            </div>
            <div class="detail">
                <span>Para continuar, logue no aplicativo usando o QRCode abaixo.</span>
                <p>OBS: O QR Code é válido somente por 5 minutos</p>
                <img src="@Url.Action("GenerateQrCode","QrCode",Model)" />
            </div>
        </div>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    //Função Responsavel por configurar o websocket do RedirectClient
    const connection = new signalR.HubConnectionBuilder()
        //Adiciona a Url apontando para o RedirectClient
        .withUrl("/RedirectClient")
        .build();

    connection.on("redirect", (url) => {
        //Chama o método removeClientToGroup da Classe RedirectClient para remover o PC do grupo
        connection.invoke("removeClientToGroup", "pc_user" + @Model.Id);
        window.location.href = url;
    });

    connection.start().then(() => {
        // chamar o método AdicionarAoGrupo da Classe RedirectClient para adicionar o navegador do PC do usuário no grupo "pc"
        connection.invoke("addClientToGroup", "pc_user" + @Model.Id);
    }).catch((err) => console.error(err.toString()));
</script>

<script src="/js/module-home-hover.js"></script>