@model hackaton.Models.ViewModels.VM_textbox

<div class="form-group" style="min-width:100%">
    <label class="input-description">Senha</label>
    <div class="input env" data-cluster="btn1">
        <div class="sub">
            <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/vpn_key_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
            <input class="form-control textbox" data-cluster="btn1" type="password" placeholder="●●●●●●" asp-for="User.Password">
        </div>
        <div class="icon eye"></div>
    </div>
    <span asp-validation-for="User.Password" class="detail text-danger-override"></span>
</div>