@model hackaton.Models.ViewModels.VM_textbox

<label class="input-description">CPF</label>
<div class="input env" data-cluster="btn1">
    <div class="sub">
        <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/badge_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
        <span class="textbox" data-cluster="btn1" placeholder="123.456.789-00">@Model.User.CPF</span>
    </div>
</div>