@model hackaton.Models.User

<div class="main_card card-produtor">

    <label class="heading">@Model.Name</label>

    <div class="field-env">
        <span class="heading">CPF</span>
        <div class="input env" data-cluster="btn1">
            <div class="sub">
                <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/badge_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
                <span class="textbox">@Model.CPF</span>
            </div>
        </div>

        <div class="actions">
            <a class="btn btn-primary btn-override primary-color-override" href="@Url.Action("Edit", "Users", new { id = Model.Id })">
                <label>Editar</label>
            </a>
            <a class="btn btn-danger btn-override danger-color-override" href="@Url.Action("Delete", "Users", new { id = Model.Id })">
                <label>Excluir</label>
            </a>
        </div>
    </div>

</div>